{% extends "@EasyAdmin/page/content.html.twig" %}

{% block title %}Devsquotes-Backend - Admin
{% endblock %}

{% block content %}
    <h1 class="mt-4">Bienvenue au sein de l'administration de Devsquotes-Backend</h1>
{% endblock %}